.products{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 20px;
   
}
@media  screen and (max-width : 550px) {
    .products {
        width: 80%;
        flex-direction: column;
    }
    
}